@use "../../sass/" as *;

.wrapper {
    @include flex(center, unset);
    flex-direction: column;  

    .container {
        display: flex;
        width: $default-layout-width;
        max-width: 100%;
        padding: 0 $default-layout-horizontal-spacer;
        margin-top: $default-layout-header-height;
        background-color: #333;

        .content {
           flex: 1;
        }
    }
}