@use "../../sass/" as *;

.wrapper {
    @include flex(center, unset);
    flex-direction: column;  

    .container {
        display: flex;
        width: $default-layout-width;
        max-width: 100%;
        margin-top: $default-layout-header-height;       

        .content {
           flex: 1;
        }
    }
}