$primary-color: #FE2C55;
$black-color: #000;
$text-color: #161823;
$white-color: #fff;
$font-family: 'ProximaNova', sans-serif;

// Default Layout
$default-layout-header-height: 60px;
$default-layout-width: 1150px;
$default-layout-horizontal-spacer: 24px;

$mobile-width: 600px;
$tablet-width: 1024px;