@use "../../sass/" as *;

.header {
    @include flex(center, center);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    height: $default-layout-header-height;
    box-shadow: 0px 1px 1px rgba(0 0 0 / 12%);
    background-color: $white-color;

    &__container {
        @include flex(center, space-between);
        height: 100%;
        width: $default-layout-width;
    }

    &__right {
        @include flex(center, space-between);

        &__more--btn {
            cursor: pointer;
            font-size: 2rem;
            padding: 4px 8px;
            background-color: transparent;
        }

        &__action--btn {
            color: #161823;
            background-color: transparent;
            padding: 4px 12px;
            cursor: pointer;
            position: relative;
            top: 2px;

            .btn__inbox {
                position: relative;
            }

            .badge {
                @include flex(center, center);
                background-color: $primary-color;
                color: white;
                font-weight: 600;
                height: 20px;
                line-height: 18px;
                padding: 0 8px;
                border-radius: 10px;
                position: absolute;
                top: 0;
                right: 4px;
            }
        }

        &__user {
            width: 32px;
            height: 32px;
            object-fit: cover;
            border-radius: 50%;
            margin-left: 12px;
            cursor: pointer;
        }
    }
}
