@use "../../sass/" as *;

.search__result {
    width: 450px;

    &__title {
        padding: 5px 12px;
        font-size: 1.4rem;
        font-weight: 600;
        color: rgba(22, 24, 35, 0.5);
    }
}

.search {
    @include flex(center, unset);
    position: relative;
    width: 450px;
    height: 46px;
    border: 1.5px solid transparent;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: 92px;
    padding-left: 16px;

    &__input {
        flex: 1;
        caret-color: $primary-color;
        color: $black-color;
        font-size: 1.6rem;
        height: 100%;
        background-color: transparent;
        font-family: $font-family;
    }

    &::after {
        content: "";
        position: absolute;
        width: 1px;
        top: 9px;
        right: 52px;
        height: 28px;
        background-color: rgba(22, 24, 35, 0.12);
    }

    &__input:not(:placeholder-shown) ~ &__btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }

    &__btn--clear,
    &__btn--loading {
        position: absolute;
        right: 68px;
        top: 50%;
        transform: translateY(-50%);
        color: rgba(22, 24, 35, 0.34);
        cursor: pointer;
    }

    &__btn--loading {
        animation: spinner 0.8s linear infinite;
    }

    &__btn--search {
        width: 52px;
        height: 100%;
        font-size: 1.8rem;
        color: rgba(22, 24, 35, 0.34);
        border-top-right-radius: 92px;
        border-bottom-right-radius: 92px;

        &:hover {
            cursor: pointer;
            background-color: rgba(22, 24, 35, 0.03);
        }

        &:active {
            background-color: rgba(22, 24, 35, 0.06);
        }
    }
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}
